{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<main>

    <!-- Traveler's Profile Details Section -->

    <section id="details">
        <div id="details-wrapper">
            <h2>Traveler's Profile</h2>

            <!-- if the traveler's image_url exists, show it; otherwise, show the default image -->
            {% if traveler.image_url %}
                <img id="details-img" src="{{ traveler.image_url }}" alt="profile img" />
            {% else %}
                <img id="details-img" src="{% static 'images/default-traveler.png' %}" alt="default profile img" />
            {% endif %}

            <!-- traveler's nickname -->
            <p id="details-title">{{ traveler.nickname }}</p>

            <!-- traveler's email and country -->
            <p id="nutrition"><span>Email: </span>{{ traveler.email }}<span> Country: </span>{{ traveler.country }}</p>

            {% if traveler.about_me or traveler.trips.exists %}
                <div id="info-wrapper">
                    <div id="details-description">

                        <!-- info (about me) if provided -->
                        {% if traveler.about_me %}
                            <p><span>About me: </span>{{ traveler.about_me }}</p>
                        {% endif %}

                        <!-- if there are trips - list data -->
                        {% if traveler.trips.exists %}
                            <p><span>Shared Trips:</span></p>
                            <ul>
                                {% for trip in traveler.trips.all %}
                                    <li>{{ trip.destination }}: {{ trip.duration }} day/s, started on: {{ trip.start_date|date:"D d M Y" }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </div>
                </div>
            {% endif %}

            <!-- Edit and Delete buttons -->
            <div id="action-buttons">
                <a href="{% url 'traveler_edit' %}" id="edit-btn">Edit</a>
                <a href="{% url 'traveler_delete' %}" id="delete-btn">Delete</a>
            </div>
        </div>
    </section>

</main>
{% endblock %}
