{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<main>

    {% if trips %}

    <h2>{{ trips.count }} Shared Trips</h2>
    {% else %}
 
    <h2>No shared trips</h2>
    {% endif %}

    <section id="dashboard">
        {% for trip in trips %}
        <div class="post">
          
            {% if trip.image_url %}
                <img src="{{ trip.image_url }}" alt="{{ trip.destination }} img" />
            {% else %}
                <img src="{% static 'images/default-trip.jpg' %}" alt="Default trip image" />
            {% endif %}


            <h3 class="title">{{ trip.destination }}</h3>
   
            <p class="description">{{ trip.start_date|date:"D d M Y" }}</p>

            <a class="details-btn" href="{% url 'trip_details' trip.id %}">Details</a>
        </div>
        {% endfor %}
    </section>

</main>
{% endblock %}
