{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<main>
    <section id="edit">
        <div class="form">
            <h2>Delete Trip</h2>

            <form class="edit-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Display validation errors -->
                {% if form.errors %}
                    <div class="errors">
                        <ul>
                            {% for error in form.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <button type="submit">Delete</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}
