{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<main>
    <section id="details">
        <div id="details-wrapper">
            <h2>Trip Details</h2>

            <!-- trip image if there is such, otherwise display the default one -->
            {% if trip.image_url %}
                <img id="details-img" src="{{ trip.image_url }}" alt="{{ trip.destination }}" />
            {% else %}
                <img id="details-img" src="{% static 'images/default-trip.jpg' %}" alt="Default trip image" />
            {% endif %}

            <!-- trip destination -->
            <p id="details-title">{{ trip.destination }}</p>

            <div id="info-wrapper">
                <div id="details-description">
                    <!-- trip start date in format "D d M Y" -->
                    <p class="description">
                        {{ trip.start_date|date:"D d M Y" }}
                    </p>
                    <!-- trip duration -->
                    <p>{{ trip.duration }} day/s</p>
                    <!-- trip summary -->
                    <p>{{ trip.summary }}</p>
                </div>

                <!-- Edit and Delete buttons -->
                <div id="action-buttons">
                    <a id="edit-btn" href="{% url 'edit_trip' trip.id %}">Edit</a>
                    <a id="delete-btn" href="{% url 'delete_trip' trip.id %}">Delete</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
